{
    "presets": [
      "latest",
      "react",
      "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css"}],
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ],
    "compact": false
}
